/* body */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    margin: 0px;
    padding: 150px;
}

/* resume container */
.resume-container{
    display: flex;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* left section styling */
.left_section{
    background-color:tan;
    color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-right: 5px solid #e63946;
}

/* profile picture */
.profile_picture{
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid gray ;
    margin-bottom: 20px;
}

/* h1 */
h1{
    font-size: 24px;
    margin: 10px 0px;
    margin-bottom: 30px ;
    text-align: center;
}

/* h3 */
h3{
    font-size: 18px;
    padding: 2%;
    margin: 20 0 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 15px #e63966;
    margin-top: 5% ;
    margin-bottom: 5%;
}

/* ul */
ul{
    list-style-type: fill round;
    margin: 10px;
    padding: 10px 0px;
}

ul li{
    margin: 5px 0px;
}

/*right section  */
.right_section{
padding: 20px;
width: 65%;
}

/* button */
button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}

button:hover{
    background-color: brown;
}